SOMIOD/App_Data/Database.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Middleware">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Application">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="creation_dt" type="xs:date" />
							<xs:element name="Module">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string" />
										<xs:element name="creation_dt" type="xs:date" />
										<xs:element name="Data">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="content" type="xs:string" />
													<xs:element name="creation_dt" type="xs:date"/>
												</xs:sequence>
												<xs:attribute name="id" type="xs:unsignedByte" use="required" />
												<xs:attribute name="parent" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="Subscription">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string" />
													<xs:element name="creation_dt" type="xs:date" />
													<xs:element name="event" type="xs:string" />
													<xs:element name="endpoint" type="xs:string" />
												</xs:sequence>
												<xs:attribute name="id" type="xs:unsignedByte" use="required" />
												<xs:attribute name="parent" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:unsignedByte" use="required" />
									<xs:attribute name="parent" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:unsignedByte" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="schemaDate">
		<xs:sequence>
			<xs:element name="creation_dt" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>